nav{
    position: fixed;
    width:300px;
    background-color: antiquewhite;
    height: 100%;
    text-align: center;
}
nav li a{
    text-decoration: none;
    color: black;
}
nav ul li{
    border: 2px solid black;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    padding: 20px;
    list-style: none;
}
nav ul{
    padding-left: 0px;
    margin: 0px;
}
body{
    box-sizing: border-box;
    margin: 0px;
    font-size: 20px;
}
#main-doc{
    margin-left: 300px;
}
nav header{
    padding: 15px;
    font-weight: bolder;
    font-size: 40px;
}
header{
    padding: 5px;
    font-weight: bolder;
    font-size: 40px;
}
#main-doc{
    padding: 30px;
}
div{
    background-color: rgb(229, 232, 235);
    padding: 30px;
}

p,li{
    font-size: 20px;
}

@media only screen and (max-width:815px){
    #nav-bar{
    position: static;
    margin: auto;
    width: 100%;
    border: 0px;
    height: 350px;
    }
    #nav-bar ul{
        border: 1px solid;
        height:250px ;
        overflow-y: auto;
        overflow-x: hidden;
    }
    #main-doc{
        margin: 0px;
    }
}